body > *{
    border: 3px solid #266bb999; 
    margin: 2px;
}
header{
    padding: 30px;
    height: 30px;
    text-align: center;
    
}
nav{
    padding: 30px;
    height: 30px;
    text-align: center;
    
}

.LeftCont{
    text-align: center;
    padding-top: 200px;
    margin: 2px;
    width: 400px;
    height: 20vh;
    border: 2px solid #266bb999;
    float:left;
    
}

main{
    width: auto;
    padding-top: 200;
    text-align: center; 
    border:none;
    display: inline-block;
    margin: auto;
}
.RightCont{
    text-align: center;
    padding-top: 200px;
    margin: 2px;
    width: 400px;
    height: 20vh;
    border: 2px solid #266bb999;
    float: right;
    
}
section{
    text-align: center;
    padding-top: 200px;
    float: none;
    margin:2px;
    width: 468px;
    height: 20vh;
    border: 2px solid #266bb999;
    display: inline-block;
    
}

footer{
    padding: 30px;  
    height: 30px;
    text-align: center;
    
}